#header {
  padding: 2em;
  min-height: 15vh;

  #logo:hover {
    animation: rotation 3s linear infinite;
  }

  .link-menu {
    display: inline-block;
    width: 100%;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
