#grd-list-category {
  .MuiPaper-root {
    display: flex;
    text-align: left;
    box-shadow: none;
    padding: 0;
  }

  ul {
    border: 1px solid lightgray;
    min-height: 70vh;

    .ct-name:hover {
      text-decoration: underline;
    }

    .pl-2 {
      padding-left: 1em;
    }

    .pl-3 {
      padding-left: 2em;
    }
  }

  #childCnt {
    font-size: 0.8em;
  }
}

#grd-desc-category {
  .ct-desc-label {
    color: rgba(0, 0, 0, 0.87);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }

  hr {
    margin: 1.5em;
  }

  #ud-buttons {
    justify-content: flex-end;

    #btns {
      display: flex;
      justify-content: space-between;

      button {
        width: 33%;
      }
    }
  }
}
