@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");

$font-stack: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto,
  "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
  "Malgun Gothic", sans-serif;

body {
  font-family: $font-stack;

  min-height: 100vh;
  background-color: rgb(211 211 211 / 10%) !important;
}

a {
  color: black !important;
  text-decoration: none !important;
}

hr {
  border-color: rgb(0 0 0 / 15%) !important;
  margin-top: 2em;
}

#content {
  margin-top: 1em;
  padding: 2em 3em;
  min-height: 80vh;

  .box-form {
    min-height: 64vh;
  }

  .box-button-bottom {
    display: flex;
    justify-content: center;

    button {
      margin: 0.5em;
    }
  }
}

#download {
  margin-left: 80%;
}

.fc-select {
  label {
    left: -0.9em !important;
  }

  .MuiFormHelperText-root {
    margin-left: 0;
  }
}

@import "header/header";

// modules
@import "modules/form";

// processes
@import "processes/form";
@import "processes/details";
